@model estudo.Models.Mecanico


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar Registro</title>
</head>
<body>
<br />
<h3>Você tem certeza que deseja deletar @Html.DisplayFor(model => model.RazaoSocial)?</h3>
<div>
  <br />  
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Voltar para listagem</a>
    </form>
</div>
</body>
</html>
