@model IEnumerable<estudo.Models.Mecanico>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Mecânicos</title>
    <style>
        .table-bordered th, .table-bordered td
        {
            border: none;
        }
    </style>
</head>
<body>
   </br>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Cadastrar Mecânico</a>
</p>
<table class="table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
                <th style="padding: 5px;">
                   Razão Social
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="padding: 5px; width:100%;">
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td >
 <a asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@item.Id"><span class="fas fa-edit"></span ></a> 
            </td>
            <td>

                <a asp-action="Details" class="btn btn-outline-dark" asp-route-id="@item.Id"><span class="fas fa-eye"></span ></a> 
            </td>
               <td>
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id"><span class="fas fa-fire"></span ></a>
           
            </td>
        </tr>
}
    </tbody>
</table>

</body>
</html>
